#phaser-game {
    display: inline-block;
    margin: 0 auto;
}

body {
    background-color: #e0e4f1;
}

#GameBlock {
    background: url(https://phaser.io/images/bg-body4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    padding: 350px 0 56px;
    text-shadow: 1px 1px 0 #000;
    background: url(https://phaser.io/images/bg-footer.jpg) no-repeat 50% 100% #e0e4f1;
    background-size: 100% auto;
}


.resetPM {
    margin: 0;
    padding: 0;
}

#phaser-game>canvas {}