/*body *
{
    position: absolute;
}*/



#phaser-game{
    display: inline-block;
    margin: 0 auto;
}

#GameBlock{
        background: url(https://phaser.io/images/bg-body4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
}


div#GameBlock {}

div#GameBlock {}


#phaser-game>canvas{

}


